@charset "utf-8";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

/* Bulma Variables */
@import '../node_modules/bulma/sass/utilities/initial-variables';

/* Custom Variables */
$blue: #19a9bc;
$family-sans-serif: 'Source Sans Pro', sans-serif;
$family-heading: 'Montserrat', sans-serif;
$primary: #f86e21;

$navbar-item-hover-color: $red;

h1,
h2,
h3,
h4,
h5,
h6,
.title {
	font-family: $family-heading;
}

/* Bulma */
@import '../node_modules/bulma/bulma';